<a href="https://colab.research.google.com/github/Khai-Minh-Tran/Advanced-SQL-Mini-Project/blob/main/Deliverable_(7)_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
n = int(input("Enter an interger number that is greater than 1: "))

while True:
  if n > 1:
    break
  else:
    print("Try a different number")
    n = int(input("Enter an interger number that is greater than 1: "))

Enter an interger number that is greater than 1: 5

In [3]:
even = []
odd = []
fibo = [0,1]

for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [ ]:
squares = []

In [4]:
odd

[1, 3, 5, 7, 9]

In [5]:
even

[0, 2, 4, 6, 8]

In [6]:
fibo

[0, 1, 1, 2, 3]

In [7]:
table = {'Even': even, 'Odd': odd, 'Fibonacci': fibo }
table_result = pd.DataFrame(data = table)
table_result

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2
4     8    9          3